<ion-content>
	<!-- <ion-card *ngFor="let ad of ads | async">
	<div (click)="openAd(ad)">
		<ion-item>
			<h2>{{ ad.info.name }}</h2>
		</ion-item>
		<img class="loading" [src]="ad.pictures.main"/>
		<ion-card-content>
			<p>
				{{ ad.info.description.substring(0,100) }} ...
			</p>
		</ion-card-content>
	</div>
</ion-card> -->
	<ion-card *ngFor="let ad of ads | async">
		<ion-card-header>
			<ion-card-title>{{ ad.info.name }}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			{{ ad.info.description.substring(0,100) }} ...
		</ion-card-content>
	</ion-card>
</ion-content>